{% extends 'back-office/base.html.twig' %}

{% block title %}Test Template{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Testing Template</h3>
                    </div>
                    <div class="card-body">
                        <p>This is a test template to verify that the base template works correctly with the new changes.</p>
                        
                        <h4>User Status</h4>
                        <p>
                            {% if app is defined and app.user is defined %}
                                User is logged in: {{ app.user.name }}
                            {% else %}
                                No user is currently logged in.
                            {% endif %}
                        </p>
                        
                        <h4>User Repository Service</h4>
                        <p>
                            {% if user_repository is defined %}
                                User repository service is available.
                            {% else %}
                                User repository service is NOT available.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 